a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background-color: #38608c;
}

#registrationBtn, #loginBtn{
    padding: 5px;
    font-size: 20px;
    margin-right: 10px;
}

#registrationBtn:hover {
    border: 3px solid white;
    font-size: 18px;
}

#loginBtn:hover {
    border: 3px solid white;
    font-size: 18px;
}


::selection {
    color: #38608c;
    background-color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}